@import url('@/assets/fonts/ABCDiatype/stylesheet.css');
// @import url('@/assets/fonts/Baskerville/stylesheet.css');
@import url('https://use.typekit.net/enp4pjp.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-serif;
    }

    body:has(.drawer-toggle:checked) {
        @apply overflow-hidden;
    }
}

@layer components {
    .btn {
        @apply normal-case;
    }
}

@import 'scss/components';
@import 'scss/filepond';

.otto-container {
    width: 100%;
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 20px;
}

.titleWithIllustration {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    .wrap {
        position: relative;
    }

    .title {
        z-index: 2;
        position: relative;
        text-align: center;
    }

    img {
        position: absolute;
        left: -60px;
        top: -40px;
    }
}

.imgBlockWithIllustration{
    position: relative;

    .illustration{
        position: absolute;
        z-index: 1;
    }
}

.blockForImage{
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    z-index: 2;

    img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.otto-btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0C345C;
    color: #fff;
    height: 64px;
    line-height: 1;
    padding: 0 42px;
    border-radius: 40px;
    font-size: 20px;
    transition: 0.3s;
    width: fit-content;

    &.small{
        height: 40px;
        font-size: 14px;
    }

    &:hover{
        background-color: rgba(8,33,59,1);
    }
}

.otto-btn-outline{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #0C345C;
    color: #fff;
    height: 64px;
    line-height: 1;
    padding: 0 42px;
    border-radius: 40px;
    font-size: 20px;
    transition: 0.3s;
    width: fit-content;
    color: #0C345C;

    &.medium{
        height: 48px;
        font-size: 18px;
    }

    &.small{
        height: 40px;
        font-size: 14px;
    }

    &:hover{
        background-color: rgba(8,33,59,1);
        color: #fff;
    }
}

.otto-btn-secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD886;
    color: #0C345C;
    height: 64px;
    line-height: 1;
    padding: 0 42px;
    border-radius: 40px;
    font-size: 20px;
    transition: 0.3s;
    width: fit-content;

    &.small{
        height: 40px;
        font-size: 14px;
    }

    &:hover{
        background-color: #ffcb5e;
    }
}

.otto-btn-outline{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #0C345C;
    color: #fff;
    height: 64px;
    line-height: 1;
    padding: 0 42px;
    border-radius: 40px;
    font-size: 20px;
    transition: 0.3s;
    width: fit-content;
    color: #0C345C;

    &.small{
        height: 40px;
        font-size: 14px;
    }

    &:hover{
        background-color: rgba(8,33,59,1);
        color: #fff;
    }
}

.otto-btn-secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD886;
    color: #0C345C;
    height: 64px;
    line-height: 1;
    padding: 0 42px;
    border-radius: 40px;
    font-size: 20px;
    transition: 0.3s;
    width: fit-content;

    &.medium{
        height: 48px;
        font-size: 18px;
    }

    &.small{
        height: 40px;
        font-size: 14px;
    }

    &:hover{
        background-color: #ffcb5e;
    }
}

.otto-btn-with-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD886;
    color: #0C345C;
    height: 54px;
    line-height: 1;
    padding: 0 10px 0 24px;
    border-radius: 40px;
    font-size: 20px;
    transition: 0.3s;
    width: fit-content;

    p{
        font-size: 18px;
        font-weight: 500;
        margin-right: 12px;
    }

    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        width: 36px;
        height: 36px;
        border-radius: 100%;
    }

    &:hover{
        background-color: #ffcb5e;
    }
}

.otto-btn-with-arrow-secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #0C345C;
    height: 54px;
    line-height: 1;
    padding: 0 24px 0 10px;
    border-radius: 40px;
    font-size: 20px;
    transition: 0.3s;
    width: fit-content;

    p{
        font-size: 18px;
        font-weight: 500;
        margin-left: 12px;
    }

    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F7A392;
        transform: rotate(180deg);
        width: 36px;
        height: 36px;
        border-radius: 100%;
    }

    &:hover{
        background-color: #f5f5f5;
    }
}

.color-gray{
    color: #474747;
    
}

.g-text{
    font-size: 1.25rem;
    color: #474747;
    line-height: 1.6;
    margin-bottom: 20px;
    position: relative;
}

.g-text-wrap{
    p{
        font-size: 18px;
        color: #474747;
        line-height: 1.6;
        margin-bottom: 30px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}

.fz_h1{
    font-size: 86px;
    line-height: 1.1;

    @media (max-width: 1280px) {
        font-size: 68px;
    }
    @media (max-width: 767px) {
        font-size: 48px;
    }
}

.fz_h2{
    font-size: 60px;
    line-height: 1.1;
    position: relative;
    z-index: 2;

    @media (max-width: 1280px) {
        font-size: 48px;
    }
    @media (max-width: 767px) {
        font-size: 36px;
    }
}

.fz_h3{
    font-size: 48px;
    line-height: 1.1;

    @media (max-width: 1280px) {
        font-size: 40px;
    }
    @media (max-width: 767px) {
        font-size: 32px;
    }
}

