@import url('@/assets/fonts/ABCDiatype/stylesheet.css');
@import url('@/assets/fonts/Baskerville/stylesheet.css');
@import url('@/assets/fonts/baskerville-urw/stylesheet.css');

@import url('@/assets/fonts/arsenal/stylesheet.css');
@import url('@/assets/fonts/corbel/stylesheet.css');
@import url('@/assets/fonts/lunchtype22/stylesheet.css');
@import url('@/assets/fonts/merriweather/stylesheet.css');
@import url('@/assets/fonts/notosansdevanagari/stylesheet.css');
@import url('@/assets/fonts/roboto/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-serif;
    }

    body:has(.drawer-toggle:checked) {
        @apply overflow-hidden;
    }

    mark {
        @apply bg-secondary text-secondary-content #{!important};
    }
}

@layer components {
    .btn {
        @apply normal-case;
    }
}

@import 'scss/components';
@import 'scss/filepond';

.tk-baskerville-urw {
     font-family: "baskerville-urw",serif;
}


.otto-container {
    width: 100%;
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 20px;
}

.titleWithIllustration {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    .wrap {
        position: relative;
    }

    .title {
        z-index: 2;
        position: relative;
        text-align: center;
    }

    img {
        position: absolute;
        left: -60px;
        top: -40px;
    }
}

.imgBlockWithIllustration{
    position: relative;

    .illustration{
        position: absolute;
        z-index: 1;
    }
}

.blockForImage{
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    z-index: 2;

    img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.color-gray{
    color: #474747;
}

.g-text-wrap{
    p{
        font-size: 18px;
        color: #474747;
        line-height: 1.6;
        margin-bottom: 30px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}

// BUTTONS
.btn{
    .loading{
        display: block;
        margin: 0 4px;
    }
}
.otto-btn-outline{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #0C345C;
    color: #fff;
    height: 64px;
    line-height: 1;
    padding: 0 42px;
    border-radius: 40px;
    font-size: 20px;
    transition: 0.3s;
    width: fit-content;
    color: #0C345C;

    &:disabled{
        pointer-events: none;
    }

    .loading{
        display: block;
        margin: 0 4px;
    }

    &.medium{
        height: 48px;
        font-size: 18px;
        padding: 0 32px;
    }

    &.small{
        height: 40px;
        padding: 0 16px;
        font-size: 14px;
    }

    &:hover{
        background-color: rgba(8,33,59,1);
        color: #fff;
    }
}

.otto-btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0C345C;
    color: #fff;
    height: 64px;
    line-height: 1;
    padding: 0 42px;
    border-radius: 40px;
    font-size: 20px;
    transition: 0.3s;
    width: fit-content;
    cursor: pointer;

    &:disabled{
        pointer-events: none;
    }

    .loading{
        display: block;
        margin: 0 4px;
    }

    &.medium{
        height: 48px;
        font-size: 18px;
        padding: 0 32px;
    }

    &.small{
        height: 40px;
        font-size: 14px;
        padding: 0 16px;
    }

    &:hover{
        background-color: rgba(8,33,59,1);
    }
}



.otto-btn-secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD886;
    color: #0C345C;
    height: 64px;
    line-height: 1;
    padding: 0 42px;
    border-radius: 40px;
    font-size: 20px;
    transition: 0.3s;
    width: fit-content;

    .loading{
        display: block;
        margin: 0 4px;
    }

    &.medium{
        height: 48px;
        font-size: 18px;
        padding: 0 32px;
    }

    &.small{
        height: 40px;
        padding: 0 16px;
        font-size: 15px;
    }

    &:hover{
        background-color: #ffcb5e;
    }
}

.otto-btn-with-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD886;
    color: #0C345C;
    height: 54px;
    line-height: 1;
    padding: 0 10px 0 24px;
    border-radius: 40px;
    font-size: 20px;
    transition: 0.3s;
    width: fit-content;

    .loading{
        display: block;
        margin: 0 4px;
    }

    p{
        font-size: 18px;
        font-weight: 500;
        margin-right: 12px;
    }

    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        width: 36px;
        height: 36px;
        border-radius: 100%;
    }

    &:hover{
        background-color: #ffcb5e;
    }
}

.otto-btn-with-arrow-secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #0C345C;
    height: 54px;
    line-height: 1;
    padding: 0 24px 0 10px;
    border-radius: 40px;
    font-size: 20px;
    transition: 0.3s;
    width: fit-content;

    .loading{
        display: block;
        margin: 0 4px;
    }

    p{
        font-size: 18px;
        font-weight: 500;
        margin-left: 12px;
    }

    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F7A392;
        transform: rotate(180deg);
        width: 36px;
        height: 36px;
        border-radius: 100%;
    }

    &:hover{
        background-color: #f5f5f5;
    }
}

.otto-btn-svg {
    transition: 0.3s;

    &:hover {
        transform: scale(1.03);
    }
}

.goBackLink{
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    transition: 0.3s;

    span{
        display: block;
        font-size: 18px;
        color: #1A1A1A;
        font-weight: 700;
        margin-left: 10px;
    }

    &:hover{
        opacity: 0.7;
    }
}

// END BUTTONS


.fz_h2{
    font-size: 60px;
    line-height: 1.1;
    position: relative;
    z-index: 2;
    color: #0C345C;

    @media (max-width: 1280px) {
        font-size: 48px;
    }
    @media (max-width: 767px) {
        font-size: 36px;
    }
}

.fz_h3{
    font-size: 48px;
    line-height: 1.1;
    position: relative;
    z-index: 2;

    @media (max-width: 1280px) {
        font-size: 40px;
    }
    @media (max-width: 767px) {
        font-size: 32px;
    }
}

.fz_h4{
    font-size: 32px;
    line-height: 1.1;

    @media (max-width: 1280px) {
        font-size: 28px;
    }
    @media (max-width: 767px) {
        font-size: 24px;
    }
}

.g-text{
    font-size: 1.25rem;
    color: #474747;
    line-height: 1.6;
    margin-bottom: 20px;
    position: relative;
}


.dArticle {
    padding: 124px 0 80px;
    @media (max-width: 767px) {
        padding: 80px 0;
    }
    .articleTop {
        position: relative;
        padding-bottom: 48px;

        &-illustration {
            position: absolute;
            left: -71px;
            top: -37px;
        }
    }

    .content {
        position: relative;
        color: #0c345c;

        p {
            display: block;
            font-size: 18px;
            line-height: 1.7;
            margin-bottom: 16px;
            color: #4d4d4d;
        }
        h2{
            font-size: 60px;
            line-height: 1.1;
            position: relative;
            z-index: 2;
            color: inherit;
            margin-top: 44px;
            margin-bottom: 24px;

            @media (max-width: 1280px) {
                font-size: 48px;
            }
            @media (max-width: 767px) {
                font-size: 36px;
            }
        }
        h3 {
            font-size: 48px;
            line-height: 1.1;
            margin-bottom: 16px;
            font-weight: 400;
            margin-top: 44px;
            margin-bottom: 24px;
            color: inherit;
            @media (max-width: 1280px) {
                font-size: 38px;
            }
            @media (max-width: 767px) {
                font-size: 28px;
            }

            &:nth-child(1){
                margin-top: 0;
            }
        }
        ol {
            margin-bottom: 44px;
            padding-left: 30px;
            li {
                margin-bottom: 44px;
                list-style: auto;
                margin-bottom: 0;
                font-size: 18px;
                line-height: 1.7;
                color: #4d4d4d;

                p{
                    color: #333;
                    &:first-child {
                        font-weight: 500;
                    }
                }

                ul {
                    padding-left: 24px;
                    li {
                        list-style: disc;
                        p {
                            font-weight: 400 !important;
                        }
                    }
                }
            }
        }

        ul{
            margin-bottom: 44px;
            padding-left: 60px;
            li{
                list-style: auto;
                margin-bottom: 5px;
                font-size: 18px;
                line-height: 1.7;
                color: #4d4d4d;

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }


    }

}

// SECTION - Chapters Hero
.chaptersHero {
    position: relative;
    padding-top: 32px;

    .wrap {
        position: relative;
    }

    &-illustration {
        position: absolute;
        left: -100px;
        top: -160px;
        width: 380px;
    }

    .title {
        font-weight: 400;
        display: flex;
        line-height: 1;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }

        span {
            display: flex;
            align-items: center;
            line-height: 1.1;
            text-align: center;

            &:nth-child(1){
                margin-right: 24px;

                @media (max-width: 767px) {
                    margin-right: 0;
                    text-align: center;
                }
            }
        }

        button {
            display: flex;
            align-items: center;
            margin-right: 24px;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 10px 32px;
            border-radius: 30px;
            height: 72px;
            line-height: 1;

            @media (max-width: 767px) {
                margin: 10px 0;
                height: 62px;
            }

            p {
                font-size: 42px;
                margin-right: 20px;

                @media (max-width: 767px) {
                    font-size: 32px;
                }
            }
        }
    }

    .block {
        position: relative;
        min-height: 170px;
        padding: 50px 40px;
        border-radius: 24px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media (max-width: 767px) {
            padding: 25px 20px !important;
        }
    }

    &-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background-color: #000;
        background: linear-gradient(0deg, rgba(12, 52, 92, 0.7), rgba(12, 52, 92, 0.7)),
            linear-gradient(0deg, rgba(226, 218, 207, 0.2), rgba(226, 218, 207, 0.2));
    }

}


// Transcription Editor
.transcriptionEditor{
    .prose{
        overflow: hidden;
        padding-right: 15px;

    &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 40px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(191, 191, 191, 0.40);
        border-radius: 40px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgba(191, 191, 191, 0.80);
      }
    }

    .form-control{
        &:nth-child(2){
            p{
                color: #000;

                &::first-letter {
                    font-style: normal;
                }
            }
        }
    }
    p {
        font-size: 28px;
        line-height: 1.2;
        letter-spacing: -0.56px;
        color: #0c345c;
        margin: 20px 0;

        @media (max-width: 991px) {
            font-size: 18px;
        }

        &:first-child {
            margin-top: 0;
            &::first-letter {
                font-size: 64px;
                font-style: italic;
                font-family: baskerville-urw, ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
            }
        }
    }
}
.svelte-select {
    .item.active {
        background: #c1dafa !important;
        color: inherit !important;
    }
    .item svg {
        min-width: 34px;
        max-width: 34px;
        min-height: 34px;
        max-height: 34px;
    }
    .item {
        padding: 0 10px 0 10px !important;
    }

    .svelte-select-list {
        z-index: 9999 !important;
    }
}
.svelte-select-list::-webkit-scrollbar {
    width: 10px;
}
.svelte-select-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.svelte-select-list::-webkit-scrollbar-thumb {
    background: #888;
}
.svelte-select-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}
